/* html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
} */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #7d8487, #242f33); /* 渐变背景 */
}